config/__pycache__/__init__.cpython-311.pyc
config/__pycache__/generation.cpython-311.pyc
config/__pycache__/webui.cpython-311.pyc
core/__pycache__/__init__.cpython-311.pyc
core/__pycache__/generator.cpython-311.pyc
core/__pycache__/model_manager.cpython-311.pyc
web/__pycache__/__init__.cpython-311.pyc
web/__pycache__/routes.cpython-311.pyc
cp/index_backup.html
cp/script.js
cp/styles.css
